*.o
.*.swp
src/.*.swp
src/builtin/.*.swp
.deps/
.objs/
./egq
*/.dirstamp
*/*/.dirstamp
/Makefile
/*.in
/*.m4
/stamp-h1
/autom4te.cache/
/config.h
/configure
/config.status
/config.log
/evilcandy
/tools/gen

# files created by tools/gen
/*/*_gen.c.h
/inc/instruction_defs.h
