*.o
.*.swp
src/.*.swp
src/builtin/.*.swp
.deps/
.objs/
./egq
*/.dirstamp
*/*/.dirstamp
/Makefile
/*.in
/*.m4
/stamp-h1
/autom4te.cache/
/config.h
/configure
/config.status
/config.log
.DS_Store

/Documentation/_build

# generated programs
/evilcandy
/tools/gen
/tools/tokgen

# files created by tools/gen
/*/*_gen.c.h
/inc/*_gen.h
/src/*_gen.c
/inc/instruction_defs.h

# Stuff I sometimes want to keep in local copy
# but not version control
/nonversion/
