*.o
*.lo
*.la
.*.swp
src/.*.swp
src/builtin/.*.swp
.deps/
.objs/
./egq
*/.dirstamp
*/*/.dirstamp
/Makefile
/*.in
/*.m4
/stamp-h1
/autom4te.cache/
/config.h
/configure
/config.status
/config.log
.DS_Store
/programs/*.log
/programs/*.trs
/tests/*.log
/tests/*.trs
*.log
*.trs
/libtool
/src/.libs
/tests/c/.libs

/Documentation/_build
/Documentation/__pycache__

# generated programs and libraries
/src/libevilcandy.a
/tests/c/libtest.a
/evilcandy
/tools/gen
/tools/tokgen
/programs/unit_tests
/programs/fuzzer
/programs/rtfuzzer

# files created by tools/gen
/*/*_gen.c.h
/inc/*_gen.h
/src/*_gen.c
/inc/instruction_defs.h
/inc/evilcandy/build_version.h

# Stuff I sometimes want to keep in local copy
# but not version control
/nonversion/
